<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Animations in Angular</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animations-content">
  <div class="container">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>

    <h3>Importance of Animations</h3>
    <ul>
      <li *ngFor="let importance of importanceList">{{ importance }}</li>
    </ul>

    <h3>How to Use Animations in Angular</h3>
    <p>{{ usageDescription }}</p>

    <h3>Example of a Simple Animation</h3>
    <pre><code>{{ simpleAnimationExample }}</code></pre>

    <ion-button expand="full" color="primary" routerLink="/home" class="return-button">
      Return to Home
    </ion-button>
  </div>
</ion-content>
