<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Performance Optimization in Angular</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="performance-content">
  <div class="container">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>

    <h3>Importance of Performance Optimization</h3>
    <ul>
      <li *ngFor="let importance of importanceList">{{ importance }}</li>
    </ul>

    <h3>Strategies for Optimizing Performance</h3>
    <ol>
      <li *ngFor="let strategy of optimizationStrategies">{{ strategy }}</li>
    </ol>

    <h3>Best Practices</h3>
    <p>{{ bestPractices }}</p>

    <ion-button expand="full" color="primary" routerLink="/home" class="return-button">
      Return to Home
    </ion-button>
  </div>
</ion-content>
