<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>

    <h2>When to Use Forms</h2>
    <ul>
      <li *ngFor="let useCase of whenToUse">
        <ion-icon name="checkmark-circle-outline"></ion-icon> {{ useCase }}
      </li>
    </ul>

    <h2>How Forms Work</h2>
    <p>{{ howFormsWork }}</p>

    <h2>Reactive Form Example</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="!form.valid">Submit</ion-button>
    </form>

    <div class="code-snippet">
      <code>{{ codeSnippet }}</code>
    </div>

    <ion-button expand="full" routerLink="/home" color="secondary">Back to Home</ion-button>
  </div>
</ion-content>
