<ion-header>
  <ion-toolbar color="primary">
    <ion-title>State Management in Angular</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="state-management-content">
  <div class="container">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>

    <h3>Importance of State Management</h3>
    <ul>
      <li *ngFor="let importance of importanceList">{{ importance }}</li>
    </ul>

    <h3>How Does State Management Work?</h3>
    <p>{{ workingDescription }}</p>

    <h3>Basic Concepts</h3>
    <ol>
      <li *ngFor="let concept of concepts">{{ concept }}</li>
    </ol>

    <ion-button expand="full" color="primary" routerLink="/home" class="return-button">
      Return to Home
    </ion-button>
  </div>
</ion-content>
