.state-management-content {
    .container {
      padding: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
  
      h2 {
        font-size: 24px;
        margin-bottom: 12px;
        color: #007bff; // Primary color
      }
  
      h3 {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 8px;
        color: #0056b3; // Darker primary color
      }
  
      p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
      }
  
      ul,
      ol {
        margin-left: 20px;
        font-size: 16px;
        line-height: 1.5;
      }
  
      li {
        margin-bottom: 5px;
      }
  
      .return-button {
        margin-top: 20px;  // Space above the button
      }
    }
  }
  