<ion-content class="modern-welcome">
  <div class="welcome-container">
    <ion-card class="centered-card modern-card">
      <ion-card-header>
        <ion-icon name="book-outline" slot="start" size="large"></ion-icon>
        <ion-card-title>Master Angular</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Unlock the secrets of components, pipes, services, and more.
        <ion-button expand="full" color="primary" routerLink="/home">Start Learning</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
