<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Angular Courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <ion-list>
    <ion-item *ngFor="let course of courses" (click)="show(course)" [routerLink]="['/', (course.title | lowercase).replace(' ', '-')]"  detail>
      <ion-icon slot="start" name="book-outline"></ion-icon>
      <ion-label>
        <h2>{{ course.title }}</h2>
        <p>{{ course.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
